@import './variables.scss';


body {
    margin: 0 1em;
    background-color: $white;
    font-family: $inter;
}

.logo {
    width: 2.811rem;
}

.App {
    background-color: $white;
    max-width: 1167px;
    margin: 0 auto;
}

svg {
    max-width: 100%;
}