//Breakpoints 
$layout-breakpoints-medium: 1440px; 
$layout-breakpoints-small: 960px; 
$layout-breakpoint-xsmall: 480px; 


//Color 
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

$white: hsl(36, 100%, 99%);
$gray: hsl(233, 8%, 79%);
$blue: hsl(236, 13%, 42%);
$dark-blue: hsl(240, 100%, 5%); 

//Typography 
$inter: 'Inter', sans-serif;
